body, html {
    height: 100%;
    margin: 0;
}
    
.bg {
    /* The image used */
    background-image: url("../images/khotang.jpg");
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#website-content{
    position: relative;
    top: 30%;
    color: #354755;
}

.heading{
    font-size: 6em;
}

a{
    background: transparent !important;
    cursor: pointer;
    color: #354755;
}

a:hover{
    color: #4d606f !important;
    text-decoration: none !important;
}