body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  /* background-image: url("../images/khotang.jpg"); */
  /* papayawhip */
  background-color: #354755;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#website-content {
  position: relative;
  top: 30%;
  color: papayawhip;
}

.heading {
  font-size: 6em;
}

a {
  background: transparent !important;
  cursor: pointer;
  color: papayawhip;
}

a:hover {
  color: rgb(151, 149, 145) !important;
  text-decoration: none !important;
}
